<!doctype html>

<html>

<!--
Experimental version of my personal webpage using FLASK
-->

<head>
    <title>Robert Tran</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"> Robert Tran </a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <u1 class="nav navbar-nav">
                        <li><a href="#about">About</a></li>
                        <li><a href="#classes">Classes</a></li>
                        <li><a href="#contact">Contact</a></li>

                    </u1>
                </div>
            </div>
        </div>
    </nav>

    <div id="about" class="container-fluid">
        <h1 class="page-header">About</h1>
        <div class="col-sm-2">
            <img src="static/images/profile.jpg" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-10">
            <p> Hello! I am a sophomore at MIT studying Electrical Engineering & Computer Science (Course 6-2) </p>
            <br>
        </div>
    </div>

    <div id="classes" class="container-fluid">
        <h1 class="page-header">Classes</h1>
            <div id="fall14">
                <p>Fall 2014:
                    <br> 7.012: Introductory Biology
                    <br> 8.012: Physics I - Classical Mechanics
                    <br> 18.02: Multivariable Calculus
                    <br> 21L.010: Writing with Shakespeare
                </p>
            </div>
            <div id="spring15">
            <p>Spring 2015:
                <br> 6.01: Introduction to EECS I
                <br> 8.02: Physics II - E & M
                <br> 14.01: Principles of Microeconomics
                <br> 18:03: Differential Equations
            </p>
            </div>

            <div id="fall15">
            <p>Fall 2015:
                <br> 6.003: Signals & Systems
                <br> 6.005: Elements of Software Construction
                <br> 6.006: Introduction to Algorithims
                <br> 6.042: Discrete Mathematics
            </p>
            </div>
    </div>
    <div id="contact" class="container-fluid">
        <h1 class="page-header">Contact</h1>
        <p>Cell: <a href="tel://1-850-292-1614">(850) 292-1614 </a></p>

        <p>Email:
            <a href="mailto:rtran@mit.edu">rtran@mit.edu </a>
        </p>
        <p>Address: 233 Massachusetts Ave, Cambridge MA 02139
        </p>
    </div>
</body>
</html>
