<!doctype html>

<html>

<!--
Experimental version of my personal webpage using FLASK
-->

<head>
    <title>Robert Tran</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="/static/js/modernizr-2.7.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style type="text/css">
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"> Robert Tran </a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <u1 class="nav navbar-nav">
                        <li><a href="#slide-1">About</a></li>
                        <li><a href="#slide-3">School</a></li>
                        <li><a href="#slide-4">Contact</a></li>

                    </u1>
                </div>
            </div>
        </div>
    </nav>

    <main>


        <section id="slide-1" class="homeSlide">
            <div class="bcg"
                data-center="background-position: 50% 0px;"
                data-top-bottom="background-position: 50% -100px;"
                data-anchor-target="#slide-1"
            >

                <div class="hsContainer">


                    <div class="hsContent" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 1" data-anchor-target="#slide-1 h2">
                        <div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>About</h2>
                            </div>

                        </div>

                        <div class="">
                            <div class="col-md-4 text-center">
                                <img src="static/images/profile.jpg" class="img-responsive img-thumbnail center-block">
                            </div>
                            <div class="col-md-8">
                                <p> Hello! I am a sophomore at MIT studying Electrical Engineering & Computer Science (Course 6-2). I was born and raised in Pensacola, FL.
                                    I enjoy playing soccer and tennis. Occasionally I write some <a href="https://rtran9.wordpress.com/">poetry.</a>
                                </p>
                                <br>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="slide-2" class="homeSlide">
            <div class="bcg"
                data-center="background-position: 50% 10px;"
                data-top-bottom="background-position: 50% -100px;"
                data-bottom-top="background-position: 50% 100px;"
                data-anchor-target="#slide-2"
            >
                <div class="hsContainer">
                    <div class="hsContent"
                        data-center="opacity: 1"
                        data-center-top="opacity: 0"
                        data--100-bottom="opacity: 0;"
                        data-anchor-target="#slide-2"
                    >
                        <div>
                            <h2>I have a huge family, here are some of my 14 siblings</h2>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section id="slide-3" class="homeSlide">
            <div class="bcg"
                data-center="background-position: 50% 0px;"
                data-top-bottom="background-position: 50% -100px;"
                data-anchor-target="#slide-3"
            >

                <div class="hsContainer">


                    <div class="hsContent" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 1" data-anchor-target="#slide-3 h2">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>School</h2>
                            </div>

                        </div>

                        <div class="">
                            <div id="classes" class="container-fluid">
                                    <div id="fall14">
                                        <p>Fall 2014:
                                            <br> 7.012: Introductory Biology
                                            <br> 8.012: Physics I - Classical Mechanics
                                            <br> 18.02: Multivariable Calculus
                                            <br> 21L.010: Writing with Shakespeare
                                        </p>
                                    </div>
                                    <div id="spring15">
                                    <p>Spring 2015:
                                        <br> 6.01: Introduction to EECS I
                                        <br> 8.02: Physics II - E & M
                                        <br> 14.01: Principles of Microeconomics
                                        <br> 18:03: Differential Equations
                                    </p>
                                    </div>

                                    <div id="fall15">
                                    <p>Fall 2015:
                                        <br> 6.003: Signals & Systems
                                        <br> 6.005: Elements of Software Construction
                                        <br> 6.006: Introduction to Algorithms
                                        <br> 6.042: Discrete Mathematics
                                    </p>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="slide-4" class="homeSlide">
            <div class="bcg"
                data-center="background-position: 50% 0px;"
                data-top-bottom="background-position: 50% -100px;"
                data-bottom-top="background-position: 50% 100px;"
                data-anchor-target="#slide-4"
            >
                <div class="hsContainer">
                    <div class="hsContent"
                        data-bottom-top="opacity: 0"
                        data-25p-top="opacity: 0"
                        data-top="opacity: 1"
                        data-anchor-target="#slide-4"
                    >
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <h2>Contact</h2>
                            </div>

                        </div>

                        <div >

                            <div id="contact" class="container-fluid">
                                <p>Cell: <a href="tel://1-850-292-1614">(850) 292-1614 </a></p>

                                <p>Email:
                                    <a href="mailto:rtran@mit.edu">rtran@mit.edu </a>
                                </p>
                                <p>Address: 233 Massachusetts Ave, Cambridge MA 02139
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/imagesloaded.js"></script>
    <script src="/static/js/skrollr.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
